@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
    --font-sans: Inter, ui-sans-serif, system-ui;
    --font-rajdani: Rajdhani, sans-serif;
    --text-primary: #fb2c36;
}